# Weather prediction

## Part 1 - Data

### Problem to solve

The problem that I intend to try to solve is predicting the weather which in this case will be a regression problem. The idea is to predict the weather for the next week and more specifically, what temperature it will be. To do this, I will use a CSV file that contains various parameters such as temperature, etc. It will as well include which weather it was that day. This data will be divided into three parts:

- Training data
- Validation data
- Test data.

### Data Source

The data source I am using for this prediction is a CSV file that I obtained from a well-known website called "Kaggle." Kaggle is a platform where you can access data for various purposes. You can also see the amount of data available and the number of people who have voted for a particular source. Since this is a website where anyone can upload data, it's essential to be cautious and critical about the type and quality of the data. I chose this dataset because it had a high number of upvotes, indicating that many people have already used it and were satisfied with the dataset.

The URL for my specific dataset is: [https://www.kaggle.com/datasets/ananthr1/weather-prediction](https://www.kaggle.com/datasets/ananthr1/weather-prediction)

### The imports

This is the imports that will be needed to use this weather prediction

In [1]:
import pandas as pd
import os

### Load data

The first thing to do is to load in the data from the CSV file in the Data folder. We will save the data into a variable called "Data"

In [2]:
data_file_path = os.path.abspath("./Data/seattle-weather.csv")
data = pd.read_csv(data_file_path)

### Info about the data

When the data is read, Then I show an overview over the data cells so we can see following information:

- Name of the column.
- How many of each row that has a null or not null value in the cell.
- What type that the cell is. For example a string or a float.

#### Description of each column

- **Column name**
  <br>
  Describes the name of the column.

* **Non-null count**
  <br>
  Describes how many rows actually have a value in the column.

* **Null count**
  <br>
  Describes how many rows do not have any value in the column.

* **Data Type**
  <br>
  Describes the data type that the column is expected to contain.

In [9]:
data_columns_info = pd.DataFrame({
    'Non-Null Count': data.count(),
    'Null Count': data.isnull().sum(),
    'DataType': data.dtypes
}).reset_index().rename(columns={'index': 'Column Name'})

data_columns_info

     Column Name  Non-Null Count  Null Count DataType
0           date            1461           0   object
1  precipitation            1461           0  float64
2       temp_max            1461           0  float64
3       temp_min            1461           0  float64
4           wind            1461           0  float64
5        weather            1461           0   object

#### Raw data

This is an example view of the data before it has been processed.

In [4]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

#### Key values about the data

This view shows some key values about the dataset.
The following values are:

- **Count**
  <br>
  Describes the name of the column.

* **Mean**
  <br>
  Describes the average value for the column.

* **Std**
  <br>
  Describes the standard deviation for the column.

* **Min**
  <br>
  Describes the minimum value for the column.

* **25%**
  <br>
  [ADD DESCRIPTION]

* **50%**
  <br>
  [ADD DESCRIPTION]

* **75%**
  <br>
  [ADD DESCRIPTION]

* **Max**
  <br>
  Describes the maximum value for the column.

In [12]:
data.describe().reset_index().rename(columns={'index': 'Key'})

     Key  precipitation     temp_max     temp_min         wind
0  count    1461.000000  1461.000000  1461.000000  1461.000000
1   mean       3.029432    16.439083     8.234771     3.241136
2    std       6.680194     7.349758     5.023004     1.437825
3    min       0.000000    -1.600000    -7.100000     0.400000
4    25%       0.000000    10.600000     4.400000     2.200000
5    50%       0.000000    15.600000     8.300000     3.000000
6    75%       2.800000    22.200000    12.200000     4.000000
7    max      55.900000    35.600000    18.300000     9.500000

## Part 2 - Not started yet